.redeem-modal{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 2rem;
    z-index: 99;
    position: fixed;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.redeem-modal-body{
    background-color: white;
    height: 300px;
    width: 450px;
    border-radius: 5px;
    box-shadow: 35px 0px 50px -40px rgba(0, 0, 0, 0.9);
    padding: 35px 12px;
    position: relative;
}

.modal-content-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.redeem-message{
    color: rgb(73, 73, 73);
    font-size: 1.3rem;

}

.redeem-icon{
    font-size: 9rem;
    color: rgb(255, 94, 94);
}

.modal-close{
    position: absolute;
    font-size: 1.2rem;
    color: rgb(189, 189, 189);
    top: 17px;
    right: 17px;
    cursor: pointer;
}