* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: #f2f2f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* alignment */

.center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


.coin{
  height: 20px;
  margin-left: 5px;
}
/* flex */

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center-horizontal{
  display: flex;
 justify-content: center;

}

.flex-center-vertical {
  display: flex;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

/* background */

.golden-back {
  background-color: #ddc080;
}

/* text */

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
}

.golden {
  color: #ddc080;
}

.white {
  color: white;
}

.grey {
  color: #7a7a7a;
}

.text-box {
  max-width: 700px;
  width: 95%;
}

/* fast margins and paddings */

.margin {
  margin: 20px;
}

.no-margin {
  margin: 0;
}

.margin-vertical {
  margin: 20px 0;
}

.margin-horizontal {
  margin: 0 20px;
}

.margin-large {
  margin: 50px;
}

.margin-horizontal-large {
  margin: 0 50px;
}

.margin-vertical-large {
  margin: 50px 0;
}

.margin-bottom {
  margin-bottom: 50px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.padding {
  padding: 20px;
}

.padding-horizontal {
  padding: 0 20px;
}

.padding-vertical {
  padding: 20px 0;
}

.padding-large {
  padding: 50px;
}

.padding-horizontal-large {
  padding: 0 50px;
}

.padding-vertical-large {
  padding: 50px 0;
}

/* grid */

.grid {
  display: grid;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-center {
  align-items: center;
}

.width100 {
  width: 100%;
}

/* others  */


.absolute {
  position: absolute;
}

.relative {
  position: relative;
}
